<!DOCTYPE html>
<html lang="pt-br" class="dark-theme">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pedido Confirmado</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <div class="conteudo-cabecalho">
      <h1>Pizzaria Delícia</h1>
      <p>Cadastro realizado com sucesso</p>
    </div>
  </header>

  <section class="pedido-confirmado-sucesso">
    <p>Seu cadastro foi realizado com sucesso!</p>
  </section>
  <section class="botoes">
    <a href="/login" class="botao-voltar">login</a>
  </section>
  <footer class="footer_pagina_menor">
    <p>&copy; 2023 Pizzaria Delícia. Todos os direitos reservados.</p>
  </footer>
</body>
</html>