<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Pizzaria</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
      <div class="perfil">
        <% if (user ) { %>
            <a href="/perfil">Nome: <%= user.nome %></a>
          <% } else { %>
            <a href="/login">Login</a>
          <% } %>
    </div>
      <div class="conteudo-cabecalho">
        <h1>Pizzaria Delícia</h1>
        <p>As melhores pizzas da cidade!</p>
      </div>
    </header>
  
    <section class="menu">
      <h2>Cardápio</h2>
      
      <div class="secao-menu">
        <h3>Pizzas</h3>
        <ul>
        <h4>Pizzas Salgadas</h4>
          <li>
            <span class="nome-pizza">Pizza de Calabresa</span>
            <span class="preco-pizza">R$ 20,00</span>
          </li>
          <li>
            <span class="nome-pizza">Pizza de Frango com Catupiry</span>
            <span class="preco-pizza">R$ 20,00</span>
          </li>
          <li>
            <span class="nome-pizza">Pizza de Quatro Queijos</span>
            <span class="preco-pizza">R$ 19,00</span>
          </li>
          <li>
            <span class="nome-pizza">Pizza de Stogonoff de Carne</span>
            <span class="preco-pizza">R$ 25,00</span>
          </li>
          <li>
            <span class="nome-pizza">Pizza de Stogonoff de Frango</span>
            <span class="preco-pizza">R$ 23,00</span>
          </li>
          <li>
            <span class="nome-pizza">Pizza de Camarão</span>
            <span class="preco-pizza">R$ 30,00</span>
          </li>
          <h4>Pizzas Doces</h4>
          <li>
            <span class="nome-pizza">Pizza de Chocolate Preto</span>
            <span class="preco-pizza">R$ 22,00</span>
          </li>
          <li>
            <span class="nome-pizza">Pizza de Chocolate Branco</span>
            <span class="preco-pizza">R$ 22,00</span>
          </li>
          <li>
            <span class="nome-pizza">Pizza de Chocolate Preto com Morango</span>
            <span class="preco-pizza">R$ 24,00</span>
          </li>
        </ul>
      </div>
      <br><br><br>
      <div class="secao-menu">
        <h3>Bebidas</h3>
        <ul>
          <li>
            <span class="nome-bebida">Coca-Cola</span>
            <span class="preco-bebida">R$ 7,50</span>
          </li>
          <li>
            <span class="nome-bebida">Guaraná</span>
            <span class="preco-bebida">R$ 8,50</span>
          </li>
          <li>
            <span class="nome-bebida">Sprite</span>
            <span class="preco-bebida">R$ 7,50</span>
          </li>
          <li>
            <span class="nome-bebida">Água</span>
            <span class="preco-bebida">R$ 5,00</span>
          </li>
          <h4>Cervejas</h4>
          <li>
            <span class="nome-bebida">Polar</span>
            <span class="preco-bebida">R$ 10,00</span>
          </li>
          <li>
            <span class="nome-bebida">Heineken</span>
            <span class="preco-bebida">R$ 12,00</span>
          </li>
          <li>
            <span class="nome-bebida">Budweiser</span>
            <span class="preco-bebida">R$ 12,00</span>
          </li>
        </ul>
      </div>
    </section>
  
    <section class="pedido">
      <a href="/pedido" class="botao-pedido">Fazer Pedido</a>
    </section>
  
    <footer>
      <p>&copy; 2023 Pizzaria Delícia. Todos os direitos reservados.</p>
    </footer>
  </body>
  </html>