body{
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2{
    margin: 20px;
    text-align: center;
}

h1{
    border: 2px solid black;
    border-radius: 20px;
    margin-bottom: 70px;
    width: 750px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

footer{
    margin-top: 50px;
    text-align: center;
}

.center{
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.busca{
    margin: 20px;
}

.livro{
    border: 2px solid black;
    margin: 0 auto 20px auto;
    width: 680px;
    height: 205px;
    text-align: left;
}

.livro img{
    float: left;
    margin: 10px;
    margin-right: 20px;
}

.livro button{
    float: right;
    margin-right: 5px;
}

a{
    text-decoration: none;
    color: black;
}

#voltar{
    text-align: center;
}