<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Teste</title>
</head>
<body>
    <% 
    let np = ""
    for (var i = q.length - 1; i >= 0; i--) { 
        np += q[i];}
        %>

    <h1>O Inverso de <%= q %> é <%= np %></h1>
    <% if(q.toUpperCase() == np.toUpperCase()){%>
        <h1>São Palindromos</h1>  
        <% ;} %>
<h1></h1>
</body>
</html>