<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palindromo</title>
</head>
<body>
    <form action="palindromo/resultado" method="get">
        <input type="text" name="q">
        <button type="submit">GET</button>
    </form>
    <form action="palindromo/resultado" method="post">
        <input type="text" name="q">
        <button type="submit">POST</button>
    </form>
    
</body>
</html>